<footer>
    <div class="big-footer">
        <div class="container-wrapper clearfix">
            <div class="block-one-big">
                <a title="Shohoz" href="https://www.shohoz.com"><img src="https://www.shohoz.com/v2/assets/img/shohoz.svg" alt="Shohoz" /></a>
                <div class="block-description">
                                                <p>Shohoz.com, owned and operated by Shohoj Limited, is a premium online and on-demand service provider committed to make your life convenient, easier and smarter.</p>
                <small class="footer-copyright">&copy; 2015-2021 Shohoz &middot; All Rights Reserved
                </small>
                </div>
            </div>
            <div class="block-three block-four footer-list mobile_view">
                <ul>
                    <li><a href="https://www.shohoz.com/about-us/en">About Us</a></li>
                    <li><a href="https://www.shohoz.com/contact-us/en">Contact Us</a></li>
                                        <li><a href="https://www.shohoz.com/terms-of-use/en">Terms of Use</a></li>
                    <li><a href="https://www.shohoz.com/privacy-policy/en">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="block-one block-four footer-list">
                <h3 class="block-title" style="text-transform: none">Services</h3>
                <ul>
                    <li><a href="https://rides.shohoz.com">Shohoz Ride</a></li>
                    <li><a href="https://www.shohoz.com/food">Shohoz Food</a></li>
                    <li><a href="https://www.shohoz.com/truck">Shohoz Truck</a></li>
                    <li><a href="https://www.shohoz.com/bus-tickets">Shohoz Bus</a></li>
                    <li><a href="https://www.shohoz.com/launch">Shohoz Launch</a></li>
                    <li><a href="https://www.shohoz.com/events">Shohoz Event</a></li>
                    <li><a href="https://www.shohoz.com/movies">Shohoz Movie</a></li>
                    <li><a href="https://learn.shohoz.com">Shohoz Learn</a></li>
                </ul>
            </div>
            <div class="block-one block-four clear-both footer-list">
                <h3 class="block-title" style="text-transform: none">Earn</h3>
                <ul>
                <li><a href="https://rides.shohoz.com/fleet-partner">Fleet Partner Network</a></li>
                <li><a href="https://www.shohoz.com/food-merchant">Food Merchant Network</a></li>
                                </ul>
            </div>
                                                                                                                                <div class="block-two block-four social-media">
                <h3 class="block-title" style="text-transform: none">Social</h3>
                <ul>
                    <li><a target="_blank" href="//facebook.com/shohoz"><img src="https://www.shohoz.com/v2/assets/img/icon/fb.svg" alt="Shohoz" /></a></li>
                    <li><a target="_blank" href="//www.instagram.com/shohoz.bd/"><img src="https://www.shohoz.com/v2/assets/img/icon/ins.svg" alt="Shohoz" /></a></li>
                    <li><a target="_blank" href="//www.linkedin.com/company/shohoz/"><img src="https://www.shohoz.com/v2/assets/img/icon/in.svg" alt="Shohoz" /></a></li>
                    <li><a target="_blank" href="//twitter.com/shohoz"><img src="https://www.shohoz.com/v2/assets/img/icon/tw.svg" alt="Shohoz" /></a></li>
                </ul>
            </div>
            <div class="block-one-big mobile-view-footer">
                <div class="block-description">
                    <small>&copy; 2015-2021 Shohoz &middot; All Rights Reserved
                    </small>
                </div>
            </div>
        </div>
    </div>
</footer>
    </div>