{% load static %}

<head>
  <link href="https://plus.google.com/114535916304086501377" rel="publisher" />
  <link href="https://plus.google.com/114535916304086501377" rel="author" />
  <link href="https://www.twitter.com/shohoz" rel="author" />
  <link href="https://www.facebook.com/shohoz" rel="author" />
  <link
    href="https://www.youtube.com/channel/UCcfCBRn0yp0nFomPpGiDDXA"
    rel="author"
  />
  <link rel="manifest" href="https://www.shohoz.com/manifest.json" />

  <!--	Meta properties for Facebook Open Graph-->
  <meta property="fb:app_id" content="1420009814944179" />
  <meta property="og:url" content="https://www.shohoz.com" />
  <meta property="og:type" content="website" />
  <meta
    property="og:image"
    content="https://www.shohoz.com/img/shohoz_logo_fb.png"
  />
  <meta property="og:site_name" content="Shohoz" />
  <!-- <meta property="og:description" content="Shohoz is leading ride sharing & online ticket provider of Bangladesh. Download Shohoz app to Buy bus tickets online, check bus routes, buy launch ticket & ride sharing service in Bangladesh."/> -->
  <!--	Meta properties for Facebook Open Graph-->

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="-1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="google-site-verification"
    content="oS5-suFaVTWcXFd1w794UI_fZ5SXIzcQUnoW-kdhf9Y"
  />
  <link
    rel="shortcut icon"
    href="https://www.shohoz.com/img/favicon.ico"
    type="image/x-icon"
  />
  <link
    rel="icon"
    href="https://www.shohoz.com/img/favicon.ico"
    type="image/x-icon"
  />
  <meta name="msvalidate.01" content="5201E02FFF315947EECE0F745457F4A8" />
  <script src="https://www.shohoz.com/js/jquery-1.10.2.min.js"></script>
  <script src="https://www.shohoz.com/js/bootstrap-modal.js"></script>

  <!-- Trufis core CSS -->
  <link href="https://www.shohoz.com/css/bootstrap.css" rel="stylesheet" />

  <!-- JQuery UI CSS -->
  <link
    rel="stylesheet"
    type="text/css"
    href="https://www.shohoz.com/css/jquery-ui.css?2"
  />

  <!-- datepicker for this template -->
  <link href="https://www.shohoz.com/css/datepicker.css?1" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link
    href="https://www.shohoz.com/css/shohoz_style.css?v=9"
    rel="stylesheet"
  />
  <link href="https://www.shohoz.com/css/meanmenu.min.css" rel="stylesheet" />
  <link href="https://www.shohoz.com/css/template.css?1" rel="stylesheet" />
  <noscript>
    <meta
      http-equiv="refresh"
      id="mtaJSCheck"
      content="0;/enable-javascript.html"
    />
  </noscript>
  <link
    href="https://www.shohoz.com/font-awesome-4.3.0/css/font-awesome.css?v=2"
    rel="stylesheet"
  />

  <script>
    if ("serviceWorker" in navigator) {
      window.addEventListener("load", function () {
        navigator.serviceWorker.register("https://www.shohoz.com/sw.js").then(
          function (registration) {
            // Registration was successful
            console.log(
              "ServiceWorker registration successful with scope: ",
              registration.scope
            );
          },
          function (err) {
            // registration failed :(
            console.log("ServiceWorker registration failed: ", err);
          }
        );
      });
    }
  </script>

  <title>Buy Online Bus Ticket | Shohoz Bus</title>
  <meta
    name="keywords"
    content="online bus ticket booking, Buy Bus tickets, Bus service, Bus routes, Shohoj Bus Ticket, Shohoj, Bus tickets, Bus booking, Bus fares, ticket fare, ticket price, online booking, Online ticket booking, Book bus tickets, Buy Bus Tickets online, Bus booking online"
  />
  <meta
    name="description"
    content="Looking for great deals on bus tickets? We'll make it Shohoz for you! Get the lowest prices, and renowned bus operators - all in one place."
  />
  <meta name="author" content="Shohoz.com" />
  <meta content="follow, index, all" name="robots" />
</head>
