            <style>
   .truck-nav:hover .truck-nav-icon-black {
      display:none !important;
    }

    .truck-nav-icon-white {
        display: none;
    }

    .current .truck-nav-icon-white {
        display:inline !important;
    }

    .truck-nav:hover .truck-nav-icon-white {
        display:inline !important;
    }

    @media screen and (max-width: 767px){
      .truck-nav-icon-white {
        display: inline;
      }
      .truck-nav-icon-black {
        display: none;
      }
    }

</style>
<link rel="stylesheet" href="https://www.shohoz.com/v2/assets/styles/learn.css?v=1.3.9" />

<div class="container-fluid">
    <div class="row">
      <header class="new-header">
        <input type="hidden" id="www-search-id" name="www-search-id" value="">
        <!-- Header Top Part Start Here -->
        <div class="top-header hidden-xs hidden-sm">
          <div class="container-wrapper">
            <div class="site-wrapper clearfix">
                <div class="top-right">
                    <ul>
                      <li><a title="Deals and Offers" href="https://www.shohoz.com/deals-and-offers">Deals And Offers <label style="width: 29px;background: #D74848;border-radius: 10px;font-size: 9px;margin-left: 2px;padding-left: 4px;padding-top: 2px;">NEW</label></a></li>
                      <li><a class='fire-event' title="Claim Insurance" href="https://www.shohoz.com/insurance-claim" target="_blank">Insurance Claim</a></li>
                                            <li><a title="Cancel Ticket" href="https://www.shohoz.com/booking/ticket/cancel">Cancel Ticket</a></li>
                      <li><a title="Bus Reservation" href="https://www.shohoz.com/booking/bus-reservation" class='fire-event'>Bus Reservation</a></li>
                      <li><a class="fnt-normal" title="Contact Us" href="https://www.shohoz.com/contact-us">Contact Us</a></li>
                      <li><a class="fnt-normal" title="Call: 16374" href="tel:16374"><span class="icon-phone"></span> 16374</a></li>
                    </ul>
                </div>
            </div>
          </div>
        </div>
        
        <!-- Header Top Part End Here -->
        <div class="main-header">
            <!-- Header Start Here -->
            <div class="container-wrapper">
              <div class="site-wrapper clearfix">
                <div class="site-logo">
                    <a title="Shohoz" href="https://www.shohoz.com"><img src="https://www.shohoz.com/v2/assets/img/shohoz.svg" alt="Shohoz"></a>
                </div>
                <nav class="main-navigation" style="display: block;">
                    <ul>
                        <li><a title="Ride" href="https://rides.shohoz.com"><span class="icon-motorcycle"></span> Ride</a></li>
                        <li><a class="" title="Food" href="https://www.shohoz.com/food"><span class="icon-cutlery"></span> Food</a></li>
                        <li><a class="truck-nav " title="truck" 
                            href="https://www.shohoz.com/truck">
                            <img class="truck-nav-icon-white" style="position: relative;top: -2px;height: 16px;" src="https://www.shohoz.com/v2/assets/truck.svg" alt="Shohoz" /> 
                            <img class="truck-nav-icon-black"  style="position: relative;top: -2px;height: 16px;" src="https://www.shohoz.com/v2/assets/truck-black.svg" alt="Shohoz" />
                            Truck</a>
                        </li>
                        <li><a class="current" title="Bus" href="https://www.shohoz.com/bus-tickets"><span class="icon-bus"></span> Bus</a></li>
                        <li><a title="Launch" href="https://www.shohoz.com/launch"><span class="icon-ship"></span> Launch</a></li>
                        <li><a title="Event" href="https://www.shohoz.com/events"><span class="icon-calendar"></span> Event</a></li>
                        <li><a title="Movie" href="https://www.shohoz.com/movies"><span class="icon-film"></span> Movie</a></li>
                        <li>
                            <a class="learn-nav" title="Learn" href="https://learn.shohoz.com">
                                <img class="learn-nav-icon-white" style="position: relative;top: -3px;height: 16px;right: 1px;" src="https://www.shohoz.com/v2/assets/img/learn-white.svg" alt="Shohoz" />
                                <img class="learn-nav-icon-black" style="position: relative;top: -3px;height: 16px;right: 1px;" src="https://www.shohoz.com/v2/assets/img/learn-black.svg" alt="Shohoz" />
                                Learn                            </a>
                        </li>
                        <li class="hidden-md hidden-lg"><a title="Deals & Offers" href="https://www.shohoz.com/deals-and-offers">Deals & Offers<label style="width: 29px;background: #D74848;border-radius: 10px;font-size: 9px;margin-left: 2px;padding-left: 4px;padding-top: 2px;">NEW</label></a></li>
                        <li class="hidden-md hidden-lg"><a title="Claim Insurance" href="https://www.shohoz.com/insurance-claim" class='fire-event' target="_blank">Insurance Claim</a></li>
                        <li class="hidden-md hidden-lg"><a title="Verify bKash" href="https://www.shohoz.com/booking/ticket/status">Verify bKash</a></li>
                        <li class="hidden-md hidden-lg"><a title="Cancel Ticket" href="https://www.shohoz.com/booking/ticket/cancel">Cancel Ticket</a></li>
                        <li class="hidden-md hidden-lg"><a title="Bus Reservation" href="https://www.shohoz.com/booking/bus-reservation" class='fire-event'>Bus Reservation</a></li>
                        <li class="hidden-md hidden-lg"><a class="fnt-normal" title="Contact Us" href="https://www.shohoz.com/contact-us">Contact Us</a></li>
                        <li class="hidden-md hidden-lg"><a class="fnt-normal" title="Call: 16374" href="tel:16374"><span class="icon-phone"></span> 16374</a></li>
                        <li class="gp-star-logo-nav"><a title="GP Star" href="https://www.shohoz.com/gpstar"><img src="https://www.shohoz.com/img/gpstar/gpstar-logo.png" alt="gpstar logo"></a></li>
                      </ul>
                </nav>
                <div class="mobile-menu"></div>
            <!-- Header End Here -->
            </div>
          </div>
        </div>
      </header>
    </div>
</div>